/* header stylying */
header {
    background-color: white;
    color: #484848;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

/* logo styling */
header .logo {
    margin-left: 20px;
    height: 125px;
    width: 125px;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
